<template>
  <q-page class="q-pa-lg">
    <h4 class="q-mt-none q-mb-md text-weight-bold">About Qwitter</h4>
    <div class="text-body1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae dignissimos dolore eos explicabo, ipsam
        itaque nulla placeat qui quos reprehenderit, repudiandae! Culpa eligendi eum exercitationem illum, libero
        officia
        quo quos ut voluptate voluptatem? Laborum magnam neque, nostrum officiis possimus quod. Aperiam iusto laborum
        maiores modi nisi obcaecati saepe tenetur!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae dignissimos dolore eos explicabo, ipsam
        itaque nulla placeat qui quos reprehenderit, repudiandae! Culpa eligendi eum exercitationem illum, libero
        officia
        quo quos ut voluptate voluptatem? Laborum magnam neque, nostrum officiis possimus quod. Aperiam iusto laborum
        maiores modi nisi obcaecati saepe tenetur!</p>
    </div>
  </q-page>

</template>

<script>
export default {
  name: 'PageAbout'
}
</script>

<style scoped>

</style>
