<template>
  <q-page class="relative-position">
    <q-scroll-area class="absolute full-height full-width">
      <div class="q-py-lg q-px-md row items-end q-col-gutter-md">
        <div class="col">
          <q-input class="new-qweet" bottom-slots v-model="newQweetContent" placeholder="What's happening?" counter
                   maxlength="280" autogrow>
            <template v-slot:before>
              <q-avatar size="xl">
                <img src="https://cdn.quasar.dev/img/avatar5.jpg">
              </q-avatar>
            </template>
          </q-input>
        </div>
        <div class="col col-shrink">
          <q-btn @click="addNewQweet()" class="q-mb-lg" unelevated rounded color="primary" label="Qweet" no-caps
                 :disable="!newQweetContent"/>
        </div>
      </div>
      <q-separator size="10px" color="grey-2" class="divider"></q-separator>
      <q-list separator>
        <transition-group appear
                          enter-active-class="animated fadeIn slow"
                          leave-active-class="animated fadeOut slow">
          <q-item class="qweet q-py-md" v-for="qweet in qweets" :key="qweet.id">
            <q-item-section avatar top>
              <q-avatar size="xl">
                <img src="https://cdn.quasar.dev/img/avatar2.jpg">
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-subtitle1">
                <strong>Martina Mustermann</strong>
                <span class="text-grey-7"> @martina</span>
                <br class="lt-md"> &bull; {{ qweet.date | relativeDate }}
              </q-item-label>
              <q-item-label class="qweet-content text-body1">
                {{ qweet.content }}
              </q-item-label>
              <div class="qweet-icons row justify-between q-mt-sm">
                <q-btn color="grey" size="sm" icon="far fa-comment" flat round></q-btn>
                <q-btn color="grey" size="sm" icon="fas fa-retweet" flat round></q-btn>
                <q-btn
                  @click="toggleLiked(qweet)"
                  :color="qweet.liked ? 'red' : 'grey'" size="sm"
                  :icon="qweet.liked ? 'fas fa-heart' : 'far fa-heart'" flat round></q-btn>
                <q-btn color="grey" size="sm" icon="fas fa-trash" flat round @click="deleteQweet(qweet.id)"></q-btn>
              </div>
            </q-item-section>
          </q-item>
        </transition-group>
      </q-list>
    </q-scroll-area>
  </q-page>
</template>
<script>
import db from 'src/boot/firebase'
import { formatDistance } from 'date-fns'

export default {
  name: 'PageHome',
  methods: {
    addNewQweet () {
      const newQweet = {
        content: this.newQweetContent,
        date: Date.now(),
        liked: false
      }
      db.collection('qweets').add({
        ...newQweet
      })
        .then(() => {
          console.log('Document successfully written!')
        })
        .catch((error) => {
          console.error('Error writing document: ', error)
        })
      this.newQweetContent = ''
    },
    toggleLiked (qweet) {
      console.log(qweet)
      const qweetRef = db.collection('qweets').doc(qweet.id)

      return qweetRef.update({
        liked: !qweet.liked
      })
        .then(() => {
          console.log('Document successfully updated!')
        })
        .catch((error) => {
          // The document probably doesn't exist.
          console.error('Error updating document: ', error)
        })
    },
    deleteQweet (qweetId) {
      db.collection('qweets').doc(qweetId).delete().then(() => {
        console.log('Document successfully deleted!')
      }).catch((error) => {
        console.error('Error removing document: ', error)
      })
    }
  },
  filters: {
    relativeDate (value) {
      return formatDistance(value, new Date())
    }
  },
  data () {
    return {
      newQweetContent: '',
      qweets: [
        // {
        //   content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti dignissimos dolorem eaque esse facilis nesciunt nostrum rerum, soluta ut. Adipisci aliquid corporis, deleniti ducimus ex hic molestiae neque odit optio quae quibusdam repellendus temporibus tenetur! Nisi nobis quaerat recusandae!',
        //   date: 1615024164713,
        //   liked: false,
        //   id: 'casdh8fam'
        // },
        // {
        //   content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti dignissimos dolorem eaque esse facilis nesciunt nostrum rerum, soluta ut. Adipisci aliquid corporis, deleniti ducimus ex hic molestiae neque odit optio quae quibusdam repellendus temporibus tenetur! Nisi nobis quaerat recusandae!',
        //   date: 1615024139821,
        //   liked: true,
        //   id: 'casdh8fmd'
        // },
        // {
        //   content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti dignissimos dolorem eaque esse facilis nesciunt nostrum rerum, soluta ut. Adipisci aliquid corporis, deleniti ducimus ex hic molestiae neque odit optio quae quibusdam repellendus temporibus tenetur! Nisi nobis quaerat recusandae!',
        //   date: 1615022162444,
        //   liked: false,
        //   id: 'casdh8ffm'
        // }
      ]
    }
  },
  mounted () {
    db.collection('qweets').orderBy('date')
      // .where("state", "==", "CA")
      .onSnapshot((snapshot) => {
        snapshot.docChanges().forEach((change) => {
          const qweetChange = change.doc.data()
          qweetChange.id = change.doc.id
          if (change.type === 'added') {
            console.log('New qweet: ', qweetChange)
            this.qweets.unshift(qweetChange)
          }
          if (change.type === 'modified') {
            console.log('Modified qweet: ', qweetChange)
            const index = this.qweets.findIndex(qweet => {
              return qweet.id === qweetChange.id
            })
            Object.assign(this.qweets[index], qweetChange)
          }
          if (change.type === 'removed') {
            console.log('Removed qweet: ', qweetChange)
            this.deleteQweet(qweetChange.id)
            const index = this.qweets.findIndex(qweet => {
              return qweet.id === qweetChange.id
            })
            this.qweets.splice(index, 1)
          }
        })
      })
  }
}
</script>

<style lang="scss">
.new-qweet textarea {
  font-size: 19px;
  line-height: 1.4 !important;
}

.divider {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $grey-3;
}

.qweet-content {
  white-space: pre-line;
}

.qweet:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, .12);
}

.qweet-icons {
  margin-left: -5px;
}
</style>
